@import url("common-css.css");
body{
    font-family: 'Roboto';
}
@media (max-width: 768px){
    body{
        background-image: url(../image/test.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
.login{
    display: flex;
    height: 100vh;
}
@media (max-width: 768px){
    .login{
        justify-content: center;
        align-items: center;
    }
}
.login > div{
    flex-basis: 50%;
}
@media (max-width: 768px){
    .login > div{
        flex-basis: 90%;
    }
}
.login .col-1{
    position: relative;
    background-image: url(../image/test.jpg);
    background-size: cover;
    background-position: center center;
}
@media (max-width: 768px){
    .login .col-1{
        display: none;
    }
}
.login .col-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.login .col-1 .logo{
    height: 50px;
}
.login .col-1 .text{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.login .col-1 .text h2{
    font-size: 70px;
    font-family: Oswald;
    margin-bottom: 8px;
    margin-top: 20px;
}
@media (max-width: 992px){
    .login .col-1 .text h2{
        font-size: 35px;
    }
}
.login .col-1 .text p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
@media (max-width: 992px){
    .login .col-1 .text p{
        font-size: 16px;
    }
}
.login .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .login .col-2{
        background-color: rgba(0,0,0,.6);
    }
}
.login .col-2 .content{
    width: 500px;
    padding: 20px;
}
@media (max-width: 768px){
    .login .col-2 .content{
        width: auto;
    }
}
.login .col-2 .content .logo{
    display: none !important;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}
@media (max-width: 768px){
    .login .col-2 .content .logo{
        display: block !important;
    }
}
.login .col-2 h3{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Oswald';
    margin-bottom: 15px;
}
.login .col-2 p{
    font-weight: 400;
    opacity: 50%;
    margin-bottom: 30px;
}
.login .col-2 form{
    display: flex;
    flex-direction: column;
}
.login .col-2 form > div{
    position: relative;
}
.login .col-2 form input{
    background-color: #272727;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 20px 10px 20px 50px;
    width: 100%;
    color: #fff;
}
.login .col-2 form i{
    position: absolute;
    left: 23px;
    top: 32%;
    font-size: 14px;
    opacity: 50%;
}
.login .col-2 form .forget{
    opacity: 50%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 15px 0;
}
.login .col-2 form a.log{
    display: block;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
}
.login .col-2 form span.or{
    margin: 50px 0;
    opacity: 50%;
    text-align: center;
    position: relative;
}
.login .col-2 form span.or::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 170px;
    height: 1px;
    background-color: #2D2D2D;
}
@media (max-width: 768px){
    .login .col-2 form span.or{
        margin: 20px 0;
    }
}
.login .col-2 form span.or::after{
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 170px;
    height: 1px;
    background-color: #2D2D2D;
}
@media (max-width: 768px){
    .login .col-2 form span.or::before{
        width: 90px;
    }
    .login .col-2 form span.or::after{
        width: 90px;
    }
}
.login .col-2 .soial{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .login .col-2 .soial{
        margin-bottom: 10px;
    }
}
.login .col-2 .soial div{
    border-radius: 8px;
    border: 1px solid #515151;
    padding: 18px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .login .col-2 .soial div{
        margin-bottom: 5px;
        padding: 10px 20px;
    }
}
.login .col-2 .soial img{
    height: 22px;
    margin-right: 15px;
}
.login .col-2 .soial i{
    color: #193FF6;
    margin-right: 15px;
    font-size: 22px;
}
.login .col-2 .create{
    display: block;
    text-align: center;
}
.login .col-2 .create > a{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 700;
}
