@import url("common-css.css");
body{
    background-color: #1a1a1a85;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
.forget{
    background-color: #1A1A1A;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin: 0 10px;
}
.forget .row-1{
    display: flex;

}
.forget .row-1 span{
    flex: 1;
    font-weight: 500;
}
.forget .row-1 i{
    font-size: 20px;
    color: #E53F34;
}
.forget p{
    font-size: 12px;
    color: #545456;
    margin-bottom: 30px;
}
.forget form{
    margin-bottom: 40px;
}
.forget form input{
    background-color: var(--background-input);
    padding: 15px 10px;
    color: #fff;
    border: 0;
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 6px;
}
.forget form input::placeholder{
    color: #AAAAAA;
}
.forget .btn-gruop{
    display: flex;
    justify-content: flex-end;
}
.forget .btn-gruop a{
    display: block;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
}
.forget .btn-gruop a:last-of-type{
    background-color: var(--main-color);
    color: #fff;
    margin-left: 10px;
}
.forget .btn-gruop a:first-of-type{
    color: #E53F34;
    background-color: var(--background-section);
}