@import url("common-css.css");
body{
    background-color: #1a1a1a85;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
.reset-s{
    background-color: #1A1A1A;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    margin: 0 10px;
}
.reset-s .row-1{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.reset-s .row-1 img{
    height: 60px;
}
.reset-s .row-1 i{
    font-size: 20px;
    color: #E53F34;
}
.reset-s .row-2 p{
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.reset-s .row-2 span{
    color: #545456;
    font-size: 14px;
}
