/* import Fonts Google ==  Montserrat / Roboto / Oswald / Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
body{
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #1a1a1a85;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 600;
    display: block;
    padding: 10px 12px;
    border-bottom: 3px solid transparent;
}
a:hover{
    border-bottom: 3px solid #5458f7;
}
.sitemap{
    padding: 20px;
    margin: 20px;
    background: #212121;
    /* min-width: 900px; */
    border-radius: 10px;
}
.sitemap .row-1 img{
    display: block;
    margin: 15px auto;
}
.sitemap .row-1 h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color: #5458f7;
}
.sitemap .map{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
